/* GENERAL APP DESIGN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  background: #ffffff;
  width: 100%;
  max-width: 450px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
  font-weight: 600;
}

/* TOGGLE BUTTON */
.toggle-btn {
  background: #4d61fc;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}
.toggle-btn:hover {
  background: #3849d4;
}

/* INPUT SECTION */
.input-container {
  margin: 15px 0;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border: 1.5px solid #d6d6d6;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  transition: 0.25s;
}

input:focus {
  border-color: #4d61fc;
}

.calculate-btn {
  background: #3cb371;
  border: none;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.calculate-btn:hover {
  background: #2e8b57;
}

/* RESULT SECTION */
.result-container {
  margin-top: 20px;
}

.result-box {
  background: #fafafa;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #ececec;
}

.bmi-value {
  font-size: 35px;
  font-weight: bold;
  color: #222;
}

.bmi-category {
  margin: 8px 0 18px;
  font-size: 18px;
  font-weight: 600;
}

/* Color indicators for categories */
.Underweight {
  color: #0077ff;
}
.Normal {
  color: #1faa00;
}
.Overweight {
  color: #ff9f00;
}
.Obese {
  color: #ff3e3e;
}

.reset-btn {
  background: #ff4a4a;
  border: none;
  padding: 10px 18px;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.reset-btn:hover {
  background: #d63a3a;
}

/* SAVE RECORD BUTTON */
.save-btn {
  margin-top: 20px;
  background: #4d61fc;
  border: none;
  padding: 12px;
  border-radius: 6px;
}

.link-btn {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.save-btn:hover {
  background: #3746c7;
}
